<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    <a href=""{{ '/pages/contact' | url }}">Contact</a>&nbsp; · &nbsp;
    <a href="https://www.bostonpublicschools.org">Boston Public Schools</a>&nbsp; · &nbsp;
    <a href="https://www.bostonpublicschools.org/about-bps/legal">Legal</a>
  </p>
</footer>
