<footer class="container">
  <h2>School Prospectus / Brochure</h2>
  <p>  
    To ensure that families and community members have access to essential 
    information about our programs and services, we have prepared the 
    Carter School brochure in multiple languages. These brochures provide 
    an overview of our mission, specialized programs, and the resources 
    available to support our students. Download the brochure in your  preferred language: &nbsp;
    <a href="../../../assets/documents/carter-school-brochure-english.pdf" target="_blank">English</a> &nbsp;&bull;&nbsp;
    <a href="../../../assets/documents/carter-school-brochure-arabic.pdf" target="_blank">العربية (Arabic)</a>&nbsp;&bull;&nbsp;
    <a href="../../../assets/documents/carter-school-brochure-chinese.pdf" target="_blank">中文 (Chinese)</a>&nbsp;&bull;&nbsp;
    <a href="../../../assets/documents/carter-school-brochure-french.pdf" target="_blank">Français (French)</a>&nbsp;&bull;&nbsp;
    <a href="../../../assets/documents/carter-school-brochure-portuguese.pdf" target="_blank">Português (Portuguese)</a>&nbsp;&bull;&nbsp;
    <a href="../../../assets/documents/carter-school-brochure-somali.pdf" target="_blank">Soomaali (Somali)</a>&nbsp;&bull;&nbsp;
    <a href="../../../assets/documents/carter-school-brochure-vietnamese.pdf" target="_blank">Tiếng Việt (Vietnamese)</a>
    <br/>
    <br/>
  </p>
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    <a href="{{ site.pathPrefix }}pages/contact">Contact</a>&nbsp; · &nbsp;
    <a href="https://www.bostonpublicschools.org">Boston Public Schools</a>&nbsp; · &nbsp;
    <a href="https://www.bostonpublicschools.org/about-bps/legal">Legal</a>
  </p>
</footer>
