<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    <a href="{{ site.pathPrefix }}pages/contact">Contact</a>&nbsp; · &nbsp;
    <a href="https://www.bostonpublicschools.org">Boston Public Schools</a>&nbsp; · &nbsp;
    <a href="https://www.bostonpublicschools.org/about-bps/legal">Legal</a>
  </p>
</footer>
