---
meta:
  lang: en
  title: William E. Carter School - Boston Public Schools
  image: "assets/images/hero-carterschool-2.jpg"
  description: Providing a State-of-the-Art Educational Environment that will set a standard for future Special Needs Education facilities
layout: base
eleventyNavigation:
  key: Home
---

<div class="row mt-3">
  <div class="col-12">
    <div class="img-fit-cover-container rounded-3 bg-light">
      {% image "./src/assets/images/hero-carterschool-2.jpg", "William E. Carter School aerial view." %}
    </div>
  </div>
</div>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">{{ site.title }}</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
      A Boston Public School providing specialized education for up to 
      sixty students with significant cognitive disabilities and complex 
      medical needs, from early childhood through young adulthood. 
      Our team delivers intensive instruction in Augmentative and Alternative 
      Communication and Early Emergent Literacy Skills, ensuring each 
      student receives the support they need to learn and grow.
    </p>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Why Choose The Carter School?</h2>
      <p>
        <br>
        Our dedicated team of teachers and therapists, work together to create a
        comprehensive educational plan tailored to meet your child's academic, physical,
        and emotional needs. By fostering a collaborative environment, we ensure each
        student receives the support and guidance they need to reach their full potential.
        <br><br>
      </p>
      <p>
        <a class="btn btn-outline-light" href="assets/documents/carter-school-brochure-english.pdf" target="_blank">
          Learn more in our brochure &nbsp;
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-box-arrow-up-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
            />
            <path
              fill-rule="evenodd"
              d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
            />
          </svg>
        </a>
      </p>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #ff7979">
      <h2>Designed for Learning</h2>
      <p>
        <br>
        Our state-of-the-art facility is designed to support students 
        with disabilities, providing a safe, accessible, and engaging 
        space for learning.With 12 classrooms organized into three pods, 
        we maintain a low teacher-to-student ratio and small class sizes
        to ensure individualized attention.
        <br><br>
        Our dedicated and experienced staff, knowledgeable family support 
        team, and exceptional nursing care create a nurturing environment 
        where every student can thrive.
      </p>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #f6e58d">
      <h2>Collaborative Team Approach</h2>
      <p>
        <br>
        At the Carter School, our transdisciplinary team works collaboratively 
        to provide a world-class education for our students. Speech-language
        pathologists, occupational therapists, physical therapists, and teachers
        of students with visual impairments work alongside educators to create
        comprehensive learning opportunities, particularly in <strong>Augmentative and
        Alternative Communication</strong> and <strong>Emergent Literacy</strong>. 
        <br><br>
        By integrating their specialized expertise, our team enhances access, 
        support, and individualized instruction through direct IEP services, 
        ensuring every student can thrive.
      </p>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 rounded-3" style="background-color: #7ed6df">
      <h2>Supportive Infrastructure</h2>
      <p>
        <br>
        Our new onsite zero-entry pool creates a supportive, low-gravity environment 
        for aquatic therapy, helping students build strength, improve mobility, and 
        enhance overall well-being. Complementing this, our purpose-built half-court 
        gymnasium provides space for adapted physical education and community gatherings, 
        fostering both physical development and social engagement. 
        <br><br>
        For transition-aged students, our vocational and occupational facility 
        bridges the gap to independence, offering hands-on opportunities to develop 
        essential job skills in real-world, community-based settings.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 py-5 text-center">
    <h1>We are Hiring this March 2025!!!</h1>
    <p>
      <a class="btn btn-outline-dark" href="pages/careers" target="_self">
        Learn more about our open positions &nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
      </a>
    </p>
  </div>
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
