---
meta:
  lang: en
  title: William E. Carter School - Boston Public Schools
  image: "assets/images/hero-carterschool-2.jpg"
  description: Providing a State-of-the-Art Educational Environment that will set a standard for future Special Needs Education facilities
layout: base
eleventyNavigation:
  key: Home
---

<div class="row mt-3">
  <div class="col-12">
    <div class="img-fit-cover-container rounded-3 bg-light">
      {% image "./src/assets/images/hero-carterschool-2.jpg", "William E. Carter School aerial view." %}
    </div>
  </div>
</div>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">{{ site.title }}</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
      A Boston Public School providing specialized education for up to 60 students, ages 3-21, 
      with significant cognitive disabilities and complex medical needs. Our team delivers 
      intensive instruction in Augmentative and Alternative Communication (AAC) and Early 
      Emergent Literacy Skills to support each student’s unique learning journey.
    </p>
    <!-- <a class="btn btn-primary btn-lg mt-2" href="#">
      Learn More
    </a> -->
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Why Choose Carter School?</h2>
      <p>
        Our dedicated team of teachers and therapists, work together to create a
        comprehensive educational plan tailored to meet your child's academic, physical,
        and emotional needs. By fostering a collaborative environment, we ensure each
        student receives the support and guidance they need to reach their full potential.
      </p>
      <p>
        <a class="btn btn-outline-light" href="assets/documents/carter-school-brochure-english.pdf" target="_blank">
          Learn more in our brochure &nbsp;
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-box-arrow-up-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
            />
            <path
              fill-rule="evenodd"
              d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
            />
          </svg>
        </a>
      </p>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #ff7979">
      <h2>A Purpose-Built Learning Environment</h2>
      <p>
        Our state-of-the-art facility is designed to support students with disabilities, 
        providing a safe, accessible, and engaging space for learning. 
      </p>
      <p>
        With 12 classrooms organized into three pods, we maintain a low 
        teacher-to-student ratio and small class sizes to ensure individualized attention.
      </p>
      <p>
        Our dedicated and experienced staff, 
        knowledgeable family support team, and exceptional nursing care create a nurturing 
        environment where every student can thrive.
      </p>
      <!-- <a href="{{ 'pages/another_site ' | url }}" class="btn btn-outline-dark"></a> -->
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #f6e58d">
      <h2>Enriching Spaces for Learning and Growth</h2>
      <p>
        Our school features thoughtfully integrated therapeutic spaces and fully accessible 
        outdoor areas on all three floors, providing opportunities for exploration, sensory 
        engagement, and hands-on learning.
      </p>
      <p>
        We have dedicated spaces for Music Therapy and Expressive 
        Arts that fosters creativity and self-expression. 
      </p>
      <p>
        Our Literacy Center, designed for students 
        with unique needs, promotes early literacy as a foundation for communication and 
        lifelong learning.
      </p>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 rounded-3" style="background-color: #7ed6df">
      <h2>Supporting Physical Development and Life Skills</h2>
      <p>
        Our new onsite zero-entry pool provides a supportive, low-gravity environment 
        for aquatic therapy, promoting strength, mobility, and overall well-being. 
      </p>
      <p>
        A specially designed half-court gymnasium offers space for adapted physical 
        education and community gatherings.</p>
      <p>
        For transition-aged students, our vocational 
        and occupational facility provides opportunities to develop essential 
        community-based job skills.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 py-5 text-center">
    See <a href="assets/documents/carter-school-brochure-english.pdf" target="_blank">our brochure</a> for more information.
  </div>
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
